$red: #78110A;
$yellow: #AE8C13;
$gold: #B9A660;
$white: #F4F3EA;
$dark-maroon: #2B0603;

.window-app .window-content {
    background: url(/ui/parchment.jpg), $gold;
	background-repeat: repeat;
	background-blend-mode: hard-light;
    height: 100%;
    overflow: hidden;

    .dialog-buttons {
        display: none;
    }
}

.encounter-builder {
	display: grid;
	grid-template-columns: 1fr 30ch;
    grid-template-rows: 5em 1fr;
    column-gap: 2ch;
    row-gap: .5em;
    height: 100%;

    .encounter-info {
        grid-row: 1;
        grid-column: 1;

        height: 100%;
        background: $white;
        box-shadow: 0px 2px 6px 0px black;
        padding: .5em;
    }
    .encounter-details {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        padding: .5em 1ch .5em 1ch;
        box-shadow: -1px 3px 6px 0px black;
        background: $white;
        
        .encounter-members {
            list-style: none;
            padding-left: 0;

            .member {

            }
        }
    }
    .search-area {
        grid-column: 1;
        grid-row: 2;
        column-gap: 2ch;
        row-gap: .5em;
        padding-right: 1ch;

        display: grid;
        grid-template-columns: 25ch 1fr;

        height: 1fr;

        .search-configuration {
            grid-column: 1;
            grid-row: 1;
            
            padding: .5em 1ch .5em 1ch;
            box-shadow: 1px 3px 6px 0px black;
            background: $white;
        }
        .search-results {
            grid-column: 2;
            grid-row: 1;
            
            overflow-y: scroll;
        }
    }
}
